<!DOCTYPE html>
<html>
<head>
	<title>MiniMDB</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
	<body>
	<%= erb(:header,  :layout => false) %>
		<div class="container">


					<div class="row">
						<h3> Welcome to MiniMDB </h3>

					</div>

					<div class= "row">
						<div class="col-md">
							<form action="/home" method="POST">
							<h4>MOVIE SEARCH</h4>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group ">
									<input type="search" class="form-control" name = "movie_name" placeholder ="Enter Movie Name">
								</div>
							</div>
						</div>
							<br>
							<button type="submit" name="button" value="Add Movie" class="btn btn-default">GO</button>
							</form>
						</div>

					</div>

					<div id="moviedisplay">
						
						<% @movies_added.each do |movie| %>
						<%= movie.title %>
						<% end%>


					</div>
					





		</div>

			
	</body>

</html>