<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>





	<body>

				<div style="float: left;">
					<h1>SuperAwesomeWebsite</h1>
					
					<h2>An Example</h2>
					<h3>June 29, 2015</h3>
					<a href="http://www.twitter.com/kaykayyali">Author:</a>
					<br>

					

					<ol>
					<li>Random</li>
					<li>Shiz</li>
					</ol>
					<p>Bla</p>
					<p>Bla</p>
					<p>Bla</p>
					<p>Bla</p>
					
				</div>
				<img src="http://41.media.tumblr.com/tumblr_m1kdwvCGSi1r8zqdqo1_1280.jpg" width="400" height="300">
				
				<div style="float: right;">
					<form>

						<label>Name</label>
						<input type="text" placeholder="Name" name="user_name">
						<br>
						<label>Email</label>
						<input type="text" placeholder="Email" name="user_email">
						<br>
						<label>Comments</label>
						<br>
						<textarea  name="user_comments">Enter comments</textarea>
						<br>
						<input type="checkbox">Remember me
						<button type="Submit">Submit!</button>

						<!-- Name email text area remember me and submit -->
					</form>
				</div>

				


			




	</body>






</html>