<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles.css">
	<title>BootStrap Prac</title>
</head>
<body>

<div class="container">
	<div class="row grey">
	<h1>Article Title</h1>
	</div>

	<div class="row grey">
		<div class="col-md-6 lightgrey ">
			<p>Article Content</p>
			<p>Article Content</p>
			<p>Article Content</p>
			<p>Article Content</p>
			<textarea class="form-control" rows="5">
				
			</textarea>
			
		</div>
		

		<div class="col-md-5 lightgrey marginleft">
			<div class="col-sm-11">
				<form class="form-horizontal">
	  				<div class="form-group">
						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						    	<input type="email" class="col-sm-4 form-control" id="inputEmail3" placeholder="Email">
						    </div>
					  	</div>
						 	<div class="form-group">
						    	<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						    <div class="col-sm-10">
						     	<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						    </div>
					  	</div>

						<label>
						<button class ="btn btn-success" type="submit">Log In</button> <a href="">Don't have an account?</a>
						</label>
					</div>
				</form>
			</div>
		</div>
		
	</div>




	
</div>





</body>
</html>