<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>





	<body>



				<form>
				<div>
				<label>User Name</label>
				<br>
				<input type="text" name="user_name">
				<br>
				</div>

				<div>
				<label>Password</label>
				<br>
				<input type="password" name="user_pass">
				</div>

				<input type="checkbox">Remember me</button>
				<br>
				<button type="submit">Submit</button>
				</form>





	</body>






</html>