<!DOCTYPE html>
<html>
<head>
	<title>Nav Prac</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>



<div class="nav"><ul><li>Home</li><li>About</li><li>Blog</li></ul>
</div>

	<div class="container">
		<div class="contentbox">
			<img src="crazy-chihuahua.jpg">
		</div>
		<br>
		<div class="contentbox">
			<img src="crazy-chihuahua.jpg">
		</div>
		<br>
		<div class="contentbox">
			<img src="crazy-chihuahua.jpg">
		</div>
		<br>
		<div class="contentbox">
			<img src="crazy-chihuahua.jpg">
		</div>
	</div>

<div style="height: 2000px;"></div>




</body>
</html>