<!DOCTYPE html>
<html>
<head>
	<title>Twitter Box</title>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="script" type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>


<body>
	<div class="container">
		
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
				<div class="big-box">
					<h3>Twitter #Music</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. omnis modi incidunt labore quisquam placeat assumenda, magni, ducimus dolor provident nemo ipsum, perferendis.</p>
					<button class="small-box green"><strong>GOOD</strong></button>
					<button class="small-box red"><strong>BAD</strong></button>
				
				</div>
			
				

				</div>
			
		
	</div>

</body>
</html>