<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
</head>
	<body>

		<form action="/result" method="POST">
		   <label>Enter first number</label>
		   <br>
		   <input name="user_number1" type="text">
		   <br>
		   <label>Enter second number</label>
		   <br>
		   <input name="user_number2" type="text">
		   <br>
		   <label>Enter operation (add, divide, multiply, subtract)</label>
		   <br>
		   <input name="operation" type="text">

		   <button type="submit"> Calculate </button>
		   
		  
		</form>

	</body>
</html>