
<nav class="navbar navbar-default">
  <div class="container-fluid transparent">
    
      <div class="col-lg-2" style="padding:13px;">
        <img class= "" src="Logo_Google.png" width="50%">
      </div>

      <!-- Search -->
      <div class="col-lg-7" style="">
        <div class="input-group has-feedback" style="padding-top:15px;" >
          <div>
         
          <input type="text" class="form-control" style =" width:646px;"placeholder="">
           <span class="caret" style="position: absolute; top: 32px;left:628px;z-index:3;"></span>
          <button type="submit" class="btn btn-primary" style="width: 5em;"><span class = "glyphicon glyphicon-search"></span>
          </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="line-height: 4.5;">
          <ol class="list-inline">
            <li><span>+Kaysser</span></li>
            <li><span class ="glyphicon glyphicon-th"></span></li>
            <li><span class ="glyphicon glyphicon-bell"></span></li>
            <li><span class="glyphicon glyphicon-edit"></span></li>
            <li style ="width:60px"><img src="https://lh3.googleusercontent.com/-B_OA5et0sSs/Un1Yv1DE8KI/AAAAAAAAABk/pPsfIltZdv4/w140-h140-p/IMG_3419.jpg" class = "img-circle"width="100%"></li>
          </ol>
        </div>
      </div>
   


     
    <!-- Collect the nav links, forms, and other co-->
  

</nav>