body {
	background-color: #f1f1f1;
	font-family: 'Roboto'
}
.list-inline>li {
	padding-left: 28px;
}
.container-fluid {
	background-color: white;
}
.navbar-default {
	margin-bottom: 0px;
	background-color: transparent;
}

nav {
	background-color: transparent;
}
.transparent {
	background-color: transparent;
}
.btn-edit {
	background-color: #f1f1f1;
	width: 100%;
}
.btn-edit-tool {
	background-color: #f1f1f1;
	
}
.list-inline.edit>li
{
	padding-left: 12px;
	width:14%;
}